* {
  margin: 0;
  padding: 0;
}

#update input {
  height: 70px;
  width: 140px;
  margin: 4px;
  float: left;
  text-align: center;
}

#update input[type='submit'] {
  width: 50px;
  float: none;
  height: 232px;
}
