{% extends "layout.html" %}
{% block title %}Stats{% endblock %}
{% block head %}
<script src='static/Chart.min.js'></script>
{% endblock %}
{% block content %}
<!-- bar chart canvas element -->
<canvas id="chart" width="400" height="200"></canvas>
<script>
var colors = ["#FF0000", "#00A08A", "#F2AD00", "#F98400", "#5BBCD6", "#E2D200"]
var ctx = document.getElementById("chart");
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in values %}
                  "{{item[6]}}",
              {% endfor %}],
        datasets: [
          {% for field in types %}
          {
            {% set iteration = loop.index0 %}
            label: "{{field}}",
            data: [{% for item in values %}
              {{item[iteration]}},
                    {% endfor %}],
            borderColor: colors[{{iteration}}],
            backgroundColor: colors[{{iteration}}] + "22",
          },
          {% endfor %}
        ]
    }
});
</script>
{% endblock %}
